.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 9 columnas */
    grid-gap: 10px; /* Espacio entre celdas */
    padding: 10px;
    box-sizing: border-box;
    flex:1;
    margin: 10px 30px 10px 0;
  }
  
  .grid-item {
    padding: 15px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
  }

#1 {
  background-color:aqua;
}

.special-item {
  border: none;
}

.top-item {
  /* height: 30px; */
  align-items:end;
  padding: 0;
}
  